<h1>child component</h1>



<div class="maindiv">
    <div class="mydiv">

        <label>first name:</label><br>
        <input type="text" placeholder="your first name" value="{{information.first}}" readonly><br><br>

        <label>last name:</label><br>
        <input type="text" placeholder="your last name" value="{{information.last}}" readonly><br><br>

        <label>email address:</label><br>
        <input type="text" placeholder="your email address" value="{{information.email}}" readonly><br><br>

        <label>mobile number:</label><br>
        <input type="text" placeholder="your mobile number" value="{{information.number}}" readonly maxlength="10"><br><br>

        <!-- <input type="button" class="btn" value="back to parent"> -->

    </div>
</div>